<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RADGSHALibraryProject.Properties.DBProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RADGSHALibraryProject.DBConnection" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RADGSHALibraryProject.DBConnectionObject" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RADGSHALibraryProject.Properties.db" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RADGSHALibraryProject.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RADGSHALibraryProject.DBConnection" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RADGSHALibraryProject.Properties.DBProperties>
            <setting name="dbuser" serializeAs="String">
                <value>teamRADGSHAUser</value>
            </setting>
            <setting name="dbpass" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="dbname" serializeAs="String">
                <value>HRAS_RAD</value>
            </setting>
            <setting name="datasource" serializeAs="String">
                <value>database\\csci3400011030</value>
            </setting>
        </RADGSHALibraryProject.Properties.DBProperties>
        <RADGSHALibraryProject.DBConnection>
            <setting name="dbpass" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="dbname" serializeAs="String">
                <value>HRAS_RAD</value>
            </setting>
            <setting name="datasource" serializeAs="String">
                <value>database\\csci3400011030</value>
            </setting>
        </RADGSHALibraryProject.DBConnection>
        <RADGSHALibraryProject.DBConnectionObject>
            <setting name="dbuser" serializeAs="String">
                <value>teamRADGSHAUser</value>
            </setting>
            <setting name="dbpass" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="dbname" serializeAs="String">
                <value>HRAS_RAD</value>
            </setting>
            <setting name="datasource" serializeAs="String">
                <value>database\\csci3400011030
DESKTOP-54U85N3\\SQLEXPRESS</value>
            </setting>
        </RADGSHALibraryProject.DBConnectionObject>
    </userSettings>
    <applicationSettings>
        <RADGSHALibraryProject.Properties.db>
            <setting name="dbuser" serializeAs="String">
                <value>teamRADGSHAUser</value>
            </setting>
            <setting name="dbpass" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="dbname" serializeAs="String">
                <value>HRAS_RAD</value>
            </setting>
            <setting name="datasource" serializeAs="String">
                <value>desktop-urn6nh1\mySQLServer</value>
            </setting>
            <setting name="query_limit" serializeAs="String">
                <value>100</value>
            </setting>
        </RADGSHALibraryProject.Properties.db>
        <RADGSHALibraryProject.Properties.Settings1>
            <setting name="Foo" serializeAs="String">
                <value>Goo</value>
            </setting>
        </RADGSHALibraryProject.Properties.Settings1>
        <RADGSHALibraryProject.DBConnection>
            <setting name="dbuser" serializeAs="String">
                <value>teamRADGSHAUser</value>
            </setting>
        </RADGSHALibraryProject.DBConnection>
    </applicationSettings>
</configuration>